<main class="main container">
    <ul class="validation-errors">
        {{#each validationErrors }}
            <li>{{{ this }}}</li>
        {{/each}}
    </ul>
    <form method="post">
        <input type="text" name="firstname" placeholder="First Name" value="{{ formValues.firstname }}" />
        <input type="email" name="email" placeholder="Email" value="{{ formValues.email }}" />
        <input type="password" name="password" placeholder="Password" value="{{ formValues.password }}" />
        <input type="submit" value="Submit" />
    </form>
    <br />
    <hr />
    <br />
    <div class="credits">
        Example by <a href="https://www.incredible-web.com/" target="_blank">Incredible Web Ltd.</a>
    </div>
</main>
